.modalWindow{
		width: 100%;
		height: 100%;
		z-index: 1000;
		position: absolute;
		visibility: hidden;
		padding: 0;
		margin: 0;
		left: 0;
		top: 0;
		text-align: center;
}

.modalWindow div{
	margin: 160px auto;
	border:1px solid black;
	background-color: lightGray;
	width: 550px;
	height: 200px;
}
.closeButtonStyle
{
	text-align: right;
	margin-left:1000px;
	margin-right: 200px;

}